* {
    --main-color: #C8C6C6;
    --secondary-color: #007678;
    --thired-color: #619B98;
    --accent-color: #C0FCF9;
    font-family: 'Cairo',
        sans-serif;
}

body {
    background-color: #E8E1D9;
}

header {
    border-bottom: 3px solid black;
    background-color: var(--thired-color);
    font-weight: 600;
    font-size: large;
}