html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8E1D9 !important;

}

header {
    border-bottom: 3px solid black;
}

#icon {
    transition: ease 0.25s;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -ms-transition: ease 0.25s;
    -o-transition: ease 0.25s;
}

#icon :hover {
    transform: ease 1.5s;
    -webkit-transform: ease 1.5s;
    -moz-transform: ease 1.5s;
    -ms-transform: ease 1.5s;
    -o-transform: ease 1.5s;
}

#icon {
    transition: ease 0.25s;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -ms-transition: ease 0.25s;
    -o-transition: ease 0.25s;
}

#icon :hover {
    transform: ease 1.5s;
    -webkit-transform: ease 1.5s;
    -moz-transform: ease 1.5s;
    -ms-transform: ease 1.5s;
    -o-transform: ease 1.5s;
}

.card {
    width: fit-content !important;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

#imgB {
    border-radius: 50%;
    color: #fff;
    background-color: var(--thired-color);
    border-color: var(--accent-color);
}

#imgB img {
    border-radius: 50%;
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    background-color: var(--main-color);
    font-weight: bold;
}

.date {
    background-color: #ccc
}